/* Table */


table {
    width: 100%;
    table-layout: fixed;
    background-color: $table-background-heading;
    border: 0.5px solid $table-border;
    border-collapse: collapse;
}

th {
    border: 0.5px solid $table-border;
    border-collapse: collapse;
    font-size: 1.2vw;
    text-align: left;
    padding: 2px;
    overflow-x: auto;
}

td {
    border: 0.5px solid $table-border;
    border-collapse: collapse;
    font-size: 1.2vw;
    overflow-x: auto;
    background-color: $table-background-cell;
    text-align: right;
    padding: 2px;
    color: $table-td-color;
}

.fat-row {
    border-top: 2px solid $table-border;
}

.fat-bottom {
    border-bottom: 2px solid $table-border;
}

.table-green {
    background-color: $table-green;
}

.table-yellow {
    background-color: $table-yellow;
}

.table-red {
    background-color: $table-red;
}
