$font-color: rgba(240, 255, 0, 0.8);
$font-alternative-color: #0d0c0d;
$accent-color: #ee6c4d;
$background-color: #0d0c0d;
$background-alternative-color: #e0fbfc;
$header-background-color: #0d0c0d;
$size: 1.25;
$font-size-text: calc($size * 1rem);
$font-size-figcaption: 1rem;
$font-size-h1: calc(2*1rem);
$magic-line-spacing: calc(1.4 * $size * 1rem);
$footer-background-color: #0d0c0d;
$footer-text-color: rgba(240, 255, 0, 1);
$footer-border-top: #c3ce03;
$box-title-background: #c3ce03;
$arrow-url: url('../../../assets/img/arrowYellow.png');
$code-background: #0d0c0d;
$code-border: #c3ce03;
$pre-background: #0d0c0d;
$pre-border: #c3ce03;
$filter-image-darkness: 50%;
$filter-city-image-darkness: 90%;
$table-background-heading: #0d0c0d;
$table-border: #0d0c0d;
$table-background-cell: #0d0c0d;
$table-yellow: #fae252;
$table-red: #ff7265;
$table-green: #98ff78;
$table-td-color: #0d0c0d;
$first-page-background: #c3ce03;
$black-color: #000;
$footer-border-shadow: inset 0 2px 3px rgba(50, 50, 50, 0.75);
$first-page-border-shadow: inset 0 2px 3px rgba(50, 50, 50, 0.75);
