* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.main {
    padding-left: 15%;
    padding-right:15%;
    margin-bottom: 20px;
    flex: 1 0 auto;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

/* Header */
.nav {
    padding-right:15%;
}

.nav a {
    opacity:0.8;
}

.nav a:hover  {
    opacity:1;
}


/* Title */

.title {
    padding: 5em 3em 3em 0;

}

.logo {
    padding: 1em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}

/* Footer - example ( Bootstrap footer with columns ): https://www.web-eau.net/blog/10-best-footer-html-css-snippets  */

.footer {
    border-top: lightgrey 2px solid;
    background-color:#fff;
    color:black;
    box-shadow: inset 0px 2px 3px rgba(50, 50, 50, 0.75);
    background-color: #E8E8E8;
    opacity:0.9;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .column .copyright{
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

.footer ul {
    display: flex;
    flex-direction: row;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer a {
    color:black;
    text-decoration:none;
    opacity:0.7;
}

.footer a:hover {
  opacity:1;
}

.footer .social {
    font-size: 2rem;
    text-align: center;
}

.list-inline {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.list-inline  .item {
    margin-right: 20px;
}


/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #444;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

.inLineCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 1em;
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}


/* Test of content during lectures */
