{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">

        <div class = "technology">
            {% if current_page.id != "technology/index" and current_page.id != "analysis/index" and current_page.id != "galleri/index"%}
                {% if current_page.id[:4] == "tech" %}
                    {% include 'incl/sidebar-technology.twig' %}
                {% endif %}
                {% if current_page.id[:4] == "anal" %}
                    {% include 'incl/sidebar-analysis.twig' %}
                {% endif %}
                {% if current_page.id[:4] == "gall" %}
                    {% include 'incl/sidebar-analysis.twig' %}
                {% endif %}
            {% endif %}
            {% if current_page.id != "technology/index" and current_page.id != "analysis/index" and current_page.id != "galleri/index"%}
                {% if current_page.id[:4] == "anal" %}
                    <div class = "main-content report">
                {% else %}
                    <div class = "main-content">
                {% endif %}
            {% endif %}
            {{ content }}
            {% if current_page.id != "technology/index" %}
                </div>
            {% endif %}
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
