$font-color: #333;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #fff;
$background-alternative-color: #e0fbfc;
$header-background-color: #fff;
$size: 1.25;
$font-size-text: calc($size * 1rem);
$font-size-figcaption: 1rem;
$font-size-h1: calc(2*1rem);
$magic-line-spacing: calc(1.4 * $size * 1rem);
$footer-background-color: #e8e8e8;
$footer-text-color: #000;
$footer-border-top: #d3d3d3;
$box-title-background: #606060;
$arrow-url: url('../../../assets/img/arrow.png');
$code-background: #f5f5f5;
$code-border: #ccc;
$pre-background: #f5f5f5;
$pre-border: #ccc;
$filter-image-darkness: 100%;
$filter-city-image-darkness: 100%;
$table-background-heading: #d3d3d3;
$table-border: #000;
$table-background-cell: #fff;
$table-yellow: #FAE252;
$table-red: #FF7265;
$table-green: #98FF78;
