$font-color: rgba(240, 255, 0, 0.8);
$font-alternative-color: #0d0c0d;
$accent-color: #ee6c4d;
$background-color: #0d0c0d;
$background-alternative-color: #e0fbfc;
$header-background-color: #0d0c0d;
$size: 1.25;
$font-size-text: calc($size * 1rem);
$font-size-figcaption: 1rem;
$font-size-h1: calc(2*1rem);
$magic-line-spacing: calc(1.4 * $size * 1rem);
$footer-background-color: #0d0c0d;
$footer-text-color: rgba(240, 255, 0, 1);
$footer-border-top: rgba(240, 255, 0, 0.8);
$box-title-background: rgba(240, 255, 0, 0.8);
$arrow-url: url('../../../assets/img/arrowYellow.png');
$code-background: #0d0c0d;
$code-border: rgba(240, 255, 0, 0.8);
$pre-background: #0d0c0d;
$pre-border: rgba(240, 255, 0, 0.8);
$filter-image-darkness: 50%;
$filter-city-image-darkness: 90%;
