/* Typografy */

%sharedtypography {
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

%sharedlist {
    padding-left: 1.5em;
    font-size: inherit;
    margin-bottom: 0.7rem;
}

* {
    font-family: 'Roboto', sans-serif;
    color: $font-color;
}

html {
    font-size: 100%;
}

body {
    font-size: 100%;
}

p {
    @extend %sharedtypography;
    font-size: $font-size-text;
    margin-bottom: $magic-line-spacing; /* 1.4 * 1.25em vår baseline */
}

ol {
    @extend %sharedtypography;
    @extend %sharedlist;
}

ul {
    @extend %sharedtypography;
    @extend %sharedlist;
}

li {
    @extend %sharedtypography;
    @extend %sharedlist;
}

h1 {
    font-size: $font-size-h1;
}
