<div class="aside">
    <a href="pico"> Pico </a>
    <a href="markdown"> Markdown </a>
    <a href="twig"> Twig </a>
    <a href="sass"> SASS </a>
    <a href="composer"> Composer </a>
    <a href="node-npm"> Node NPM </a>
    <a href="json-files"> JSON files </a>
</div>
